{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    {% dump packages %}
    <h2>Ilość przywiezionych paczek: {{ package_info.num_of_packages }}</h2>
    {% for index,value in packages %}
        <h3>Samochod {{ index +1 }}</h3>
    <table>
        <thead>
        <tr>
            <th>Numer Paczki</th>
            <th>Waga Paczki</th>
        </tr>
        </thead>
        <tbody>


            {% for key,val in value %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ val }}</td>
                </tr>
            {% endfor %}


        </tbody>
    </table>
    {% endfor %}

{% endblock %}
